@import '~styles/variables.styl'

.cursor
  position absolute
  border 1px solid #000
  z-index 3

  &--pencil
    border-radius 0

  &--brush
    border-radius 50%
  
  &--eraser
    border-radius 0
    background #fff

  &--fill
  &--clear
    width 12px !important
    height 12px !important
    border 0
