@import '~styles/variables.styl'

.cursor-label
  position absolute
  padding 8px
  background $white-smoke
  color #000
  border-radius 4px
  opacity .5
  z-index 3

  p
    margin 0
    font-size .8em
    white-space pre