@import '~styles/variables.styl'

.tool-bar
  position fixed
  width 168px
  height 100%
  top 0
  right 0
  z-index 120

  &__container
    height 100%
    padding 10px 12px
    background-color $electromagnetic
    display flex
    flex-direction column